@charset "UTF-8";

body{    
    caret-color: black;
    height: 98vh;
    background-image: url(imagens/espaco.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}
img{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
